@font-face {
    font-family: 'Montserrat-Bold', sans-serif;
    src: url(../fonts/Montserrat-Bold.woff) format('woff'),
         url(../fonts/Montserrat-Bold.woff2) format('woff2'),
         url(../fonts/Montserrat-Bold.ttf) format('ttf');
  }

  
  @font-face {
    font-family: 'Montserrat-Regular', sans-serif;
    src: url(../fonts/Montserrat-Regular.woff) format('woff'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2'),
    url(../fonts/Montserrat-Regular.ttf) format('ttf');
  }

  
  @font-face {
    font-family: 'Montserrat-Light', sans-serif;
    src: url(../fonts/Montserrat-Light.woff) format('woff'),
    url(../fonts/Montserrat-Light.woff2) format('woff2'),
    url(../fonts/Montserrat-Light.ttf) format('ttf');
  }
  