.header {
    background-image: url(../img/section-1\(header\).jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header::after {
    height: 120px;
    width: 100%;
    content: "";
    background: #5E5D58;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 0px;
}

.header-container {
    width: 1160px;
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}



.logo {
    width: 58px;
    height: 67px;
    text-align: center;
     background-image: url(../img/Polygon\ 1\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    
}

.logo-link {
    width: 100%;
    height: 100%;
}


.logo-cont {
display: flex;
align-items: center;
padding-left: 16px;
    padding-top: 10px;
}

.logo-title {
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 31px;
color: #FFFFFF;
position: relative;
}

.logo-text {
    display: flex;
    margin-left: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.logo-text span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.header-menu {
    margin-left: 270px;
    display: flex;
    align-items: center;
    gap: 21px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    opacity: 0.6;
}

.header-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}


.header-item:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

.search {
    width: 20px;
    height: 20px;
    margin-left: 21px;
    background-image: url(../img/Search\ icon\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}