@import url(./fonts.css);
@import url(./header.css);
@import url(./main.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    
}


.wrapper {
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
}

.container {

    margin: 0 auto;
}

h1 {
font-weight: 700;
font-size: 40px;
line-height: 31px;
color: #FFFFFF;
}

.title {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center; 
    position: relative;
}

.title::before {
    content: " ";
    position: absolute;
    width: 75.54px;
    height: 1px;
    left: 50%;
    top: 64px;
    background: #18CFAB;
}

.title::after {
    content: " ";
    position: absolute;
    width: 75.54px;
    height: 1px;
    left:  51%;
    top: 68px;
    background: #18CFAB;
}