.home {
    margin-top: 250px;
    padding-bottom: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-text-1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px; 
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.home-text-1 span {
    color:#18cfab ;
}

.home-text-2 {
    font-weight: 700;
    font-size: 78px;
    line-height: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.home-text-3 {
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    color: #D4D4D4;
    margin-bottom: 122px;
}


.home-button {
    display: flex;
    gap: 26px ;
}

.btn-wrapp {
    
    width: 168px;
    height: 63px;
    text-align: center;
    box-shadow: 0 -5px 0 #fff;
   
}

.btn {
    width: 100%;
    padding: 16px 0;
    background-color: #18cfab;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-10px);
}

.blue {
    background-color: #00CBF6;;
}


/* section4option */
.option-container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 482px);
    grid-template-rows: 360px;
    
}

.optio {
   background-repeat: no-repeat; 
   background-position:center bottom 176px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
   text-transform: uppercase;
   font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 102px;
}

.optio-item1 {
    color: #18CFAB;
    background-color:#1C2A33;
    background-image: url(../img/optio1.png);
    background-size: 58px;
}

.optio-item2 {
    color: #FFFFFF;
    background-color: #18CFAB;
    background-image: url(../img/option2.png);
    background-size: 94px;
}

.optio-item3 {
    color: #18CFAB;
    background-color:#1C2A33;
    background-image: url(../img/option3.png);
    background-size: 60px;
}
.optio-item4 {
    color: #FFFFFF;
    background-color: #18CFAB;
    background-image: url(../img/option4.png);
    background-size: 100px;
}

/* services */

.services-container {
    width: 1160px;
    padding: 90px 0;
    
}

.services-content {
    margin-top: 90px;
}

.our-service-img {
    margin-right: 12px;
    width: 194px;
    height: 139px;
    float: right;
}

.tabs-items {
    cursor: pointer;
    display: flex;
}

.tabs-title {
    width: 100%;
    height: 76px;
    font-size: 16px;
    line-height: 39px;
    background-color: #E9EDEF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs-title:hover {
    border: 1px solid #18cfab;
}

.tabs-title.active {
    background-color: #18CFAB;
}

.tabs-title.active::before {
    content:"";
    position: absolute;
    left: 50%;
    bottom: -5px;
    border:5px solid transparent;
    background-color: #18cfab;
    rotate: 50deg;
    
}

.tabs-content {
    display: flex;
}

.tabs-content-item {
    padding: 20px;
    border-radius: 6px;
    display: none;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
}

.tabs-content-item.active {
    display: flex;
}


/* purchase */

.purchase {
    width: 100%;
    background-image:url(../img/section-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
 position: relative;
}

.purchase::before{
    background-color:rgba(0, 0, 0, 0.8);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:128px;
   position: relative;
    z-index: 1;
}

.purchase-text {
    
    padding-top: 128px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase-sub-text {
    padding-top: 12px;
    padding-bottom: 62px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}




/* work */

.work {
   
    background: #E9EDEF;
}

.work-container {
    width: 1160px; 
    padding: 100px 0;
}

.work-categories {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.categories {
    display: flex;
    margin-bottom: 100px;
}

.categories-item {
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.categories-item.active {
    
    color: #18CFAB;
    cursor: pointer;
}

.categories-item:hover {
    border: 1px solid #18CFAB;
}

.pictures-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 206px);
    justify-content: center;
}

.btn-load {
    width: 168px;
}

.btn-load-more {
    margin-top: 70px;
    text-align: center;
    background-color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

.btn-load-more::before {
    content: '+';
    position: absolute;
    width: 18px;
    left: 23px;
}


/* news */

.news-container {
    width: 1160px; 
    padding-top: 84px;
    padding-bottom: 130px ;
}

.card-news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 281px);
    column-gap: 33px;
    row-gap: 44px;
    margin-top: 92px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-date {
    width: 66px;
    height: 64px;
    background-color: #203E38;;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.card:hover .card-news-title {
    color: #18cfab;
}

.card:hover .card-date{
    background-color: #18cfab;
}

.card-info {
    margin-top: 0;
    display: flex;
    padding-left: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
}


.card-news-autor {
    margin-right: 33px;
    position: relative;
}

.card-news-autor::after {
    content: "";
    right: -16px;
    top: 15px;
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 1px;
    border-right: 1px solid #000
}

.card-news-title {
    margin-top: 3px;
    margin-bottom: 0;
    padding-left: 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    align-items: center;
}


.card-item {
    width: 263px;
    height: 208px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}


.card-image-1 {
    background-image: url(../img/new1.png);
}

.card-image-2 {
    background-image: url(../img/new2.png);
}

.card-image-3 {
    background-image: url(../img/new3.png);
}

.card-image-4 {
    background-image: url(../img/new4.png);
}

.card-image-5{
    background-image: url(../img/new5.png);
}

.card-image-6 {
    background-image: url(../img/new6.png);
}

.card-image-7 {
    background-image: url(../img/new7.png);
}

.card-image-8 {
    background-image: url(../img/new8.png);
}


/* feedback */
.client-feedback {
    background-image: url(../img/section-3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.client-feedback::after{
    content: '';
    background: rgba(34, 53, 63, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.8; }


.client-feedback-container {
    width: 1160px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.feedback-title {
    color: #FFFFFF;
}

.client-feedback-content {
    margin-top: 160px;
    position: relative;
}

.client-feedback-content::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 30px;
    left: 50%;
    top: -50px;
    background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.client-name
 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18cfab;
}

.client-prof  {
    margin-bottom: 38px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}
.client-feedback-text
 {
    padding: 0 10px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}


.client-avatar  {
    margin: 0 auto;
    width: 171px;
    height: 166px;
}

.navigation-img:hover {
    transform: translateY(-5px);

}


.footer {
    font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #AEAEAE;
}

.footer-container {
    padding: 48px 0;
    background-color: #22353F;
    text-align: center;
}
.footer span {
    color: #18CFAB;
}